@model WebApplication1.Models.Company

<h1>Інформація про компанію</h1>
<ul>
    <li><strong>Назва:</strong> @Model.Name</li>
    <li><strong>Адреса:</strong> @Model.Address</li>
    <li><strong>Рік заснування:</strong> @Model.FoundedYear</li>
    <li><strong>Кількість працівників:</strong> @Model.Employees</li>
</ul>
