@{
    ViewData["Title"] = "Головна сторінка сайту";
}
@model WebApplication1.Models.Company

<h1>Вітаю на головній сторінці!</h1>

<a href="/Company/Index" class="btn btn-warning">Інформація про компанію</a>
<a href="/Company/RandomNumber" class="btn btn-info">Дайте випадкове число</a>

